@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:rgba(24, 131, 219, 0.38);
  position: relative;
}

.notification {
  top: 50%;
  background-color: orange;
  padding: 7px 5px;
  border-radius: 5px;
  width: 200px;
  position: absolute;
  right: 0.5%;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 15px 0;
}

.header-logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.header-buttons{
  display: flex;
  gap: 10px;
}
.header-buttons button {
  background-color: rgba(9, 138, 243, 0.852);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 21px;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
}

.header-inputs {
  gap: 40px;
  margin-left: 10%;
}

.header-inputs-date {
  width: 160px;
  color: #fff;
  padding: 0 10px;
  height: 35px;
  border-radius: 5px;
  background-color:rgba(9, 138, 243, 0.852);
  border: 1px solid #4ec2e7;
  font-family: "Source Sans Pro", sans-serif;
}

.header-inputs-text {
  border-radius: 5px;
  padding: 5px 30px 5px 10px;
  border-color:rgba(9, 138, 243, 0.852);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 15px;
}

button[id="header-inputs-btn"] {
  background-color:rgba(9, 138, 243, 0.852);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 10px;
  border: none;
  margin-left: 45px;
}

.header-inputs-label {
  padding-left: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* menu start*/

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 92.6vh;
  padding-left: 15px;
  background: white;
  top: 68px;
  z-index: 1;
}

.menu input {
  display: none;
}

.menu label {
  padding: 10px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list {
  text-align: center;
  padding-top: 15px;
  position: relative;
}

.list-search {
  padding: 10px 250px 10px 15px;
  border-radius: 25px;
  border-color: rgba(9, 138, 243, 0.852);
}

input[id="All"]:checked~.menu-lab-all {
  background-color: rgba(9, 138, 243, 0.852);
  padding: 11px 16px;
  color: #fff;
}

.menu-lab-all i {
  margin-right: 6px;
}

input[id="Process"]:checked~.menu-lab-pro {
  background-color:rgba(9, 138, 243, 0.852);
  padding: 11px 16px;
  color: #fff;
}


.list-permission{
  display: none;
}
.menu-lab-pro i {
  margin-right: 6px;
}

.list-note-buttons button {
  background-color: rgba(9, 138, 243, 0.852);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 7px;
}

.list-note {
  width: 1000px;
  margin: 25px auto;
  border-radius: 15px;
}

.list-note-new {
  background-color: #fff;
  border-radius: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  padding: 15px 0px 15px 50px;
  margin-top: 15px;
}

.module {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(51, 49, 49, 0.74);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-module {
  width: 270px;
  height: 170px;
  background-color: #fff;
  padding: 15px 24px;
  border: 1px solid black;
}

.edit-module input {
  margin: 5px 0;
  width: 220px;
  height: 30px;
  padding: 0 5px;
}

.edit-module-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.edit-module-button button:nth-child(1) {
  padding: 6px 9px;
  background-color: orange;
  border: none;
  border-radius: 5px;
}

.edit-module-button button:nth-child(2) {
  padding: 6px 9px;
  background-color: rgba(9, 138, 243, 0.852);
  border: none;
  border-radius: 5px;
}

.span-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: orange;
  margin-right: 25px;
}

.note-new-text {
  width: 45%;
}

.note-new-date {
  margin: 0 200px 0 90px;
}

.edit {
  margin-right: 10px;
}

.list-note-new p:hover {
  text-decoration: line-through;
}

input[id="header-inputs-important"] {
  display: none;
}

.header-inputs-label {
  position: relative;
  margin: 0 23px 0 0px;
}

.header-inputs-div {
  position: absolute;
  top: 4px;
  left: 15%;
  width: 40px;
  height: 15px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 15px;
  z-index: 1;
}

.header-inputs-label::before {
  content: "";
  position: absolute;
  background-color:rgba(9, 138, 243, 0.852);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  left: 3px;
  top: -0.1px;
  /* box-shadow: -2px 2px  40px 0px rgba(63, 89, 109, 0.58); */
  transition: 0.5s all linear;
  z-index: 2;
}

input[id="header-inputs-important"]:checked~.header-inputs-label::before {
  margin-left: 18px;
}




.process {
  display: none;
}

.process-info {
  display: flex;
  width: 80%;
  margin: 3% auto 0 270px;
}

.process-info h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-transform: capitalize;
  text-align: center;
}

.process-inner {
  width: 33.3%;
  height: 650px;
}

.process-inner[id='important'] {
  position: relative;
}

.process-inner[id='important']::before {
  content: '';
  position: absolute;
  height: 775px;
  top: 5%;
  width: 1px;
  background-color: black;
}

.process-inner[id='done'] {
  position: relative;
}

.process-inner[id='done']::before {
  content: '';
  position: absolute;
  height: 775px;
  top: 5%;
  width: 1px;
  background-color: black;
}

.process-status {
  list-style: none;
  width: 475px;
  height: 125px;
  background: white;
  border-radius: 5px;
  margin-top: 35px;
  margin: 35px auto 0 auto;
  padding: 15px 5px 0px 5px;
}

.process-status p {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 25px;
  position: relative;
}

.process-status p::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 450px;
  background-color:rgba(0, 128, 128, 1.0);
  bottom: 13px;
  left: 0px;

}

.process-status span {
  padding-top: 10px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}


.doneImportant{
  background: rgba(0, 128, 128, 1.0);
}

.done{
  background: rgba(0, 128, 128, 1.0);
}

.todo{
  background: rgba(245, 39, 39, 0.69);
}

.todoImportant{
  background: orange;
}

.status-i{
  text-align: right;
  margin-top: -24px;
  margin-right: 18px;
}

.edit-module h2{
  text-align: center;
  margin: 25px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.btn-exit-none{
  margin: 20px auto 50px auto ;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}