*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 84.5vh;
    background: linear-gradient( rgba(24, 131, 219, 0.38), rgba(137, 173, 225, 0.31));
    background-repeat: no-repeat;
}
.list{
    background-color: white;
    margin: 7% auto 0 auto;
    width: 300px;
    border-radius: 10px;
    padding: 35px 0 20px 0;
}
.svg{
    width: 70px;
    margin:-65px auto 15px 110px;
}
.list-register{
    margin: 0 0 0 15px;
}
label {
    font-family: 'Source Sans Pro', sans-serif;
}
input {
    margin: 15px 0;
    padding: 5px 5px;
    width: 250px;
    border-radius: 7px;
    border-color: rgb(24, 88, 143);
}
.btn {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: rgb(29, 105, 171);
    border: none;
    padding: 5px 80px;
    text-align: center;
    margin-top: 5px;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}
input[type="checkbox"]{
    width: 15px !important;
}